<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150332999856-00ctcpphbr10jk0ehgt0ekj8eaq9aphf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150332999856-00ctcpphbr10jk0ehgt0ekj8eaq9aphf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>150332999856-9b0v15824ddie8a7ln53vj6r00i12r97.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAq-0dCPLZ4_JQ3fkpdbW_6jMk5rIxEaDw</string>
	<key>GCM_SENDER_ID</key>
	<string>150332999856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dukewebtech.jollofradio</string>
	<key>PROJECT_ID</key>
	<string>jollofradio</string>
	<key>STORAGE_BUCKET</key>
	<string>jollofradio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150332999856:ios:d3f3875daa9aff43459375</string>
	<key>DATABASE_URL</key>
	<string>https://jollofradio-default-rtdb.firebaseio.com</string>


	<!-- Backend Syncronization -->
	<key>SERVER_CLIENT_ID</key>
	<string>150332999856-cr3k4q8haqrfvhetpitushuudl86urbo.apps.googleusercontent.com</string>

</dict>
</plist>