<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287534834538-cjlslfh5rbcvtqp27b0tc1gl9b3lvucl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287534834538-cjlslfh5rbcvtqp27b0tc1gl9b3lvucl</string>
	<key>API_KEY</key>
	<string>AIzaSyB0CICAs4mhcAwIfu2mIG_Yn-m-fgrgcpA</string>
	<key>GCM_SENDER_ID</key>
	<string>287534834538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jollofradio</string>
	<key>PROJECT_ID</key>
	<string>jollofradio-92494</string>
	<key>STORAGE_BUCKET</key>
	<string>jollofradio-92494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287534834538:ios:dfe3318829de172bb2fb13</string>
	<key>DATABASE_URL</key>
	<string>https://jollofradio-92494-default-rtdb.firebaseio.com</string>
	
	<!-- Backend Syncronization -->
	<key>SERVER_CLIENT_ID</key>
	<string>150332999856-k1ki4gp2l7qkcgsgtrus0pni2dg07erk.apps.googleusercontent.com</string>
</dict>
</plist>